@media (min-width: 992px) {
	.sponsor-placeholder {
		width: 12.5% !important;
	}
}

.sponsor-placeholder {
	width: 0;
}

.signup-button {
	font-size: 15px;
	padding: 12px 45px;
	background-color: rgba(140, 197, 47, 0.8);
}

h4{
	color: black;
	text-decoration: none;
}